
.header{
    background-color: black;
    overflow: hidden;
    margin-bottom: 2rem;
}
#title{
    color: white;
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    height: 60px;
    margin-top: 1rem;
    margin-right: 18rem;
    float: left;
}
#fMovie{
    color: white;
    background: black;
    border: 2px solid white;
    font-size: 30px;
    border-radius: 0.7rem;
    margin-top: 1rem;
    width: 500px;
    height: 60px;
}


body{
    background: black;
}
.container-grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap:2rem;
}
.card{
    border-radius: 0.35rem;
    background-color: dimgray;
    overflow: hidden;
}
#MovieTitle{
    text-align: center;
    font-weight: bold;
    font-size: 26px;
    color: black;
}
.img-fluid{
    width: 100%;
    height: 80%;
    border-top-left-radius: 0.35rem;
    border-top-right-radius: 0.35rem;
    transition: all 0.3s ease-out;
}
.card img:hover{
    transform: scale(1.1);
}

.zoom{
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease-out;
}
.zoom.open{
    opacity: 1;
    pointer-events: all;
    transition: 0.5s ease-out;
}

.zoom .info{
    color: aliceblue;
    font-size: 1.2rem;
    position: absolute;
    top: 10%;
    left: 50%;
    margin-right: 8rem;
    text-align: justify;
}
.zoom .info #movieDescription{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
}


.zoom .info #movieTitle{
    color: aliceblue;
    font-size: 3rem;
}

.zoom img{
    position: absolute;
    left: 10%;
    top: 5%;
    height: 35rem;
}

